<launch>
  <arg name="publish_hz" default="5.0"/>
  <arg name="manifest_publish_period_s" default="10.0"/>
  <arg name="stale_after_s" default="1.5"/>
  <arg name="overlay_threshold" default="50"/>
  <arg name="max_pointcloud_summary_points" default="2000"/>

  <arg name="pose_topic" default="/lio_localizer/odometry/optimization"/>
  <arg name="raw_lidar_topic" default="/ouster/points"/>
  <arg name="watch_raw_lidar" default="false"/>
  <arg name="obstacle_pointcloud_topic" default="/planning/linefit_ground/non_ground_cloud"/>
  <arg name="watch_obstacle_pointcloud" default="false"/>

  <arg name="cmd_vel_topic" default="/cmd_vel"/>
  <arg name="behavior_cmd_topic" default="/planning/behavior_cmd"/>
  <arg name="emergency_stop_topic" default="/planning/emergency_stop"/>
  <arg name="global_obstacle_caution_topic" default="/planning/global_obstacle_caution"/>
  <arg name="path_blocked_topic" default="/astar/path_blocked"/>

  <arg name="global_path_topic" default="/astar/path"/>
  <arg name="candidate_paths_topic" default="/astar/candidate_paths"/>
  <arg name="tracking_reference_topic" default="/planning/tracking_reference_path"/>
  <arg name="active_path_topic" default="/planning/active_path"/>
  <arg name="local_path_topic" default="/planning/local_path"/>
  <arg name="avoidance_path_topic" default="/planning/avoidance_path"/>

  <arg name="global_obstacle_overlay_topic" default="/planning/global_obstacle_overlay"/>
  <arg name="global_obstacle_overlay_boxes_topic" default="/planning/global_obstacle_overlay_boxes"/>
  <arg name="near_field_raw_overlay_hits_topic" default="/planning/near_field_raw_overlay_hits"/>
  <arg name="near_field_stop_hits_topic" default="/planning/near_field_stop_hits"/>
  <arg name="near_field_raw_debug_cloud_topic" default="/planning/near_field_raw_debug_cloud"/>
  <arg name="near_field_stop_marker_topic" default="/planning/near_field_stop_marker"/>
  <arg name="drivable_grid_topic" default="/lio_sam/drivable_area/grid"/>
  <arg name="tracked_objects_topic" default="/perception/tracked_objects"/>

  <arg name="topic_manifest_topic" default="/xai/topic_manifest"/>
  <arg name="planner_snapshot_topic" default="/xai/planner_snapshot"/>
  <arg name="event_log_topic" default="/xai/event_log"/>

  <node pkg="autonomy_explainability_bridge"
        type="explainability_topic_bridge.py"
        name="autonomy_explainability_bridge"
        output="screen"
        respawn="false">
    <param name="publish_hz" value="$(arg publish_hz)"/>
    <param name="manifest_publish_period_s" value="$(arg manifest_publish_period_s)"/>
    <param name="stale_after_s" value="$(arg stale_after_s)"/>
    <param name="overlay_threshold" value="$(arg overlay_threshold)"/>
    <param name="max_pointcloud_summary_points" value="$(arg max_pointcloud_summary_points)"/>

    <param name="pose_topic" value="$(arg pose_topic)"/>
    <param name="raw_lidar_topic" value="$(arg raw_lidar_topic)"/>
    <param name="watch_raw_lidar" value="$(arg watch_raw_lidar)"/>
    <param name="obstacle_pointcloud_topic" value="$(arg obstacle_pointcloud_topic)"/>
    <param name="watch_obstacle_pointcloud" value="$(arg watch_obstacle_pointcloud)"/>

    <param name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
    <param name="behavior_cmd_topic" value="$(arg behavior_cmd_topic)"/>
    <param name="emergency_stop_topic" value="$(arg emergency_stop_topic)"/>
    <param name="global_obstacle_caution_topic" value="$(arg global_obstacle_caution_topic)"/>
    <param name="path_blocked_topic" value="$(arg path_blocked_topic)"/>

    <param name="global_path_topic" value="$(arg global_path_topic)"/>
    <param name="candidate_paths_topic" value="$(arg candidate_paths_topic)"/>
    <param name="tracking_reference_topic" value="$(arg tracking_reference_topic)"/>
    <param name="active_path_topic" value="$(arg active_path_topic)"/>
    <param name="local_path_topic" value="$(arg local_path_topic)"/>
    <param name="avoidance_path_topic" value="$(arg avoidance_path_topic)"/>

    <param name="global_obstacle_overlay_topic" value="$(arg global_obstacle_overlay_topic)"/>
    <param name="global_obstacle_overlay_boxes_topic" value="$(arg global_obstacle_overlay_boxes_topic)"/>
    <param name="near_field_raw_overlay_hits_topic" value="$(arg near_field_raw_overlay_hits_topic)"/>
    <param name="near_field_stop_hits_topic" value="$(arg near_field_stop_hits_topic)"/>
    <param name="near_field_raw_debug_cloud_topic" value="$(arg near_field_raw_debug_cloud_topic)"/>
    <param name="near_field_stop_marker_topic" value="$(arg near_field_stop_marker_topic)"/>
    <param name="drivable_grid_topic" value="$(arg drivable_grid_topic)"/>
    <param name="tracked_objects_topic" value="$(arg tracked_objects_topic)"/>

    <param name="topic_manifest_topic" value="$(arg topic_manifest_topic)"/>
    <param name="planner_snapshot_topic" value="$(arg planner_snapshot_topic)"/>
    <param name="event_log_topic" value="$(arg event_log_topic)"/>
  </node>
</launch>
