<launch>
    <arg name="pose_topic" default="/lio_localizer/odometry/optimization"/>
    <arg name="pointcloud_topic" default="/ouster/points"/>
    <arg name="use_drivable_grid" default="true"/>
    <arg name="drivable_grid_topic" default="/lio_sam/drivable_area/grid"/>
    <arg name="grid_unknown_is_occupied" default="true"/>
    <arg name="global_path_topic" default="/astar/path"/>
    <arg name="local_path_topic" default="/planning/local_path"/>
    <arg name="avoidance_path_topic" default="/planning/avoidance_path"/>
    <arg name="path_history_topic" default="/planning/path_history"/>
    <arg name="behavior_cmd_topic" default="/planning/behavior_cmd"/>
    <arg name="tracked_objects_topic" default="/perception/tracked_objects"/>
    <arg name="dynamic_risk_grid_topic" default="/planning/dynamic_risk_grid"/>
    <arg name="enable_cloud_tracker" default="true"/>
    <arg name="enable_dynamic_risk_manager" default="true"/>
    <arg name="enable_local_replanner" default="true"/>
    <arg name="use_dynamic_risk_grid" default="true"/>
    <arg name="use_direct_goal" default="false"/>
    <arg name="direct_goal_topic" default="/move_base_simple/goal"/>
    <arg name="goal_tolerance_m" default="0.35"/>
    <arg name="snap_search_radius_cells" default="30"/>
    <arg name="freeze_path_on_first_plan" default="true"/>
    <arg name="smooth_path_line_of_sight" default="true"/>
    <arg name="smooth_avoidance_line_of_sight" default="true"/>
    <arg name="max_los_segment_m" default="1.0"/>
    <arg name="published_path_spacing_m" default="0.25"/>
    <arg name="path_history_max_paths" default="12"/>
    <arg name="enable_avoidance_path" default="true"/>
    <arg name="use_pointcloud_obstacle_cost" default="false"/>
    <arg name="obstacle_collision_radius" default="0.0"/>
    <arg name="robot_width_m" default="0.55"/>
    <arg name="robot_length_m" default="0.60"/>
    <arg name="footprint_padding_m" default="0.0"/>
    <arg name="path_tracking_only" default="true"/>
    <arg name="path_tracking_speed_cap" default="0.25"/>
    <arg name="path_tracking_steer_filter_gain" default="0.20"/>
    <arg name="lookahead_distance" default="0.55"/>
    <arg name="path_tracking_yaw_rate_max_deg" default="55.0"/>
    <arg name="avoidance_hard_stop_distance" default="0.20"/>
    <arg name="use_pointcloud_avoidance_trigger" default="false"/>
    <arg name="avoidance_trigger_margin_m" default="0.20"/>
    <arg name="avoidance_trigger_ahead_m" default="8.0"/>
    <arg name="avoidance_hold_s" default="1.5"/>
    <arg name="avoidance_clear_confirm_cycles" default="6"/>
    <arg name="avoidance_branch_backtrack_cells" default="2"/>
    <arg name="avoidance_rejoin_min_distance_m" default="1.0"/>
    <arg name="debug_avoidance_logging" default="true"/>
    <arg name="debug_avoidance_log_period_s" default="1.0"/>
    <arg name="dynamic_speed_thresh_mps" default="0.15"/>
    <arg name="include_static_objects_in_behavior" default="false"/>
    <arg name="include_static_objects_in_risk_grid" default="false"/>
    <arg name="debug_dynamic_risk_logging" default="true"/>
    <arg name="debug_dynamic_risk_log_period_s" default="1.0"/>
    <arg name="obstacle_consider_side_m" default="1.10"/>
    <arg name="obstacle_consider_back_m" default="-0.15"/>
    <arg name="obstacle_ignore_traj_steps" default="3"/>
    <arg name="debug_stop_logging" default="true"/>
    <arg name="debug_dwa_stats" default="true"/>
    <arg name="stop_log_period_s" default="1.0"/>

    <group if="$(arg enable_cloud_tracker)">
        <node pkg="dynamic_window_approach" type="cloud_cluster_tracker.py" name="cloud_cluster_tracker" output="screen" respawn="false">
            <param name="pointcloud_topic" value="$(arg pointcloud_topic)"/>
            <param name="odom_topic" value="$(arg pose_topic)"/>
            <param name="output_topic" value="$(arg tracked_objects_topic)"/>
        </node>
    </group>

    <group if="$(arg enable_dynamic_risk_manager)">
        <node pkg="dynamic_window_approach" type="dynamic_risk_manager.py" name="dynamic_risk_manager" output="screen" respawn="false">
            <param name="odom_topic" value="$(arg pose_topic)"/>
            <param name="tracked_objects_topic" value="$(arg tracked_objects_topic)"/>
            <param name="drivable_grid_topic" value="$(arg drivable_grid_topic)"/>
            <param name="behavior_cmd_topic" value="$(arg behavior_cmd_topic)"/>
            <param name="risk_grid_topic" value="$(arg dynamic_risk_grid_topic)"/>
            <param name="dynamic_speed_thresh_mps" value="$(arg dynamic_speed_thresh_mps)"/>
            <param name="include_static_objects_in_behavior" value="$(arg include_static_objects_in_behavior)"/>
            <param name="include_static_objects_in_risk_grid" value="$(arg include_static_objects_in_risk_grid)"/>
            <param name="debug_risk_logging" value="$(arg debug_dynamic_risk_logging)"/>
            <param name="debug_risk_log_period_s" value="$(arg debug_dynamic_risk_log_period_s)"/>
        </node>
    </group>

    <group if="$(arg enable_local_replanner)">
        <node pkg="dynamic_window_approach" type="constrained_local_replanner.py" name="constrained_local_replanner" output="screen" respawn="false">
            <param name="odom_topic" value="$(arg pose_topic)"/>
            <param name="global_path_topic" value="$(arg global_path_topic)"/>
            <param name="drivable_grid_topic" value="$(arg drivable_grid_topic)"/>
            <param name="dynamic_risk_grid_topic" value="$(arg dynamic_risk_grid_topic)"/>
            <param name="local_path_topic" value="$(arg local_path_topic)"/>
            <param name="avoidance_path_topic" value="$(arg avoidance_path_topic)"/>
            <param name="path_history_topic" value="$(arg path_history_topic)"/>
            <param name="pointcloud_topic" value="$(arg pointcloud_topic)"/>
            <param name="use_direct_goal" value="$(arg use_direct_goal)"/>
            <param name="direct_goal_topic" value="$(arg direct_goal_topic)"/>
            <param name="goal_tolerance_m" value="$(arg goal_tolerance_m)"/>
            <param name="snap_search_radius_cells" value="$(arg snap_search_radius_cells)"/>
            <param name="freeze_path_on_first_plan" value="$(arg freeze_path_on_first_plan)"/>
            <param name="smooth_path_line_of_sight" value="$(arg smooth_path_line_of_sight)"/>
            <param name="smooth_avoidance_line_of_sight" value="$(arg smooth_avoidance_line_of_sight)"/>
            <param name="max_los_segment_m" value="$(arg max_los_segment_m)"/>
            <param name="published_path_spacing_m" value="$(arg published_path_spacing_m)"/>
            <param name="path_history_max_paths" value="$(arg path_history_max_paths)"/>
            <param name="enable_avoidance_path" value="$(arg enable_avoidance_path)"/>
            <param name="use_pointcloud_avoidance_trigger" value="$(arg use_pointcloud_avoidance_trigger)"/>
            <param name="avoidance_trigger_margin_m" value="$(arg avoidance_trigger_margin_m)"/>
            <param name="avoidance_trigger_ahead_m" value="$(arg avoidance_trigger_ahead_m)"/>
            <param name="avoidance_hold_s" value="$(arg avoidance_hold_s)"/>
            <param name="avoidance_clear_confirm_cycles" value="$(arg avoidance_clear_confirm_cycles)"/>
            <param name="avoidance_branch_backtrack_cells" value="$(arg avoidance_branch_backtrack_cells)"/>
            <param name="avoidance_rejoin_min_distance_m" value="$(arg avoidance_rejoin_min_distance_m)"/>
            <param name="debug_avoidance_logging" value="$(arg debug_avoidance_logging)"/>
            <param name="debug_avoidance_log_period_s" value="$(arg debug_avoidance_log_period_s)"/>
            <param name="robot_width_m" value="$(arg robot_width_m)"/>
            <param name="robot_length_m" value="$(arg robot_length_m)"/>
            <param name="footprint_padding_m" value="$(arg footprint_padding_m)"/>
        </node>
    </group>

    <node pkg="dynamic_window_approach" type="dynamicwindowapproach.py" name="dynamic_window_approach" output="screen" respawn="false">
        <param name="pose_topic" value="$(arg pose_topic)"/>
        <param name="global_path_topic" value="$(arg global_path_topic)"/>
        <param name="local_path_topic" value="$(arg local_path_topic)"/>
        <param name="avoidance_path_topic" value="$(arg avoidance_path_topic)"/>
        <param name="behavior_cmd_topic" value="$(arg behavior_cmd_topic)"/>
        <param name="pointcloud_topic" value="$(arg pointcloud_topic)"/>
        <param name="use_drivable_grid" value="$(arg use_drivable_grid)"/>
        <param name="drivable_grid_topic" value="$(arg drivable_grid_topic)"/>
        <param name="grid_unknown_is_occupied" value="$(arg grid_unknown_is_occupied)"/>
        <param name="dynamic_risk_grid_topic" value="$(arg dynamic_risk_grid_topic)"/>
        <param name="use_dynamic_risk_grid" value="$(arg use_dynamic_risk_grid)"/>
        <param name="use_pointcloud_obstacle_cost" value="$(arg use_pointcloud_obstacle_cost)"/>
        <param name="obstacle_collision_radius" value="$(arg obstacle_collision_radius)"/>
        <param name="robot_width_m" value="$(arg robot_width_m)"/>
        <param name="robot_length_m" value="$(arg robot_length_m)"/>
        <param name="footprint_padding_m" value="$(arg footprint_padding_m)"/>
        <param name="path_tracking_only" value="$(arg path_tracking_only)"/>
        <param name="path_tracking_speed_cap" value="$(arg path_tracking_speed_cap)"/>
        <param name="path_tracking_steer_filter_gain" value="$(arg path_tracking_steer_filter_gain)"/>
        <param name="lookahead_distance" value="$(arg lookahead_distance)"/>
        <param name="path_tracking_yaw_rate_max_deg" value="$(arg path_tracking_yaw_rate_max_deg)"/>
        <param name="avoidance_hard_stop_distance" value="$(arg avoidance_hard_stop_distance)"/>
        <param name="obstacle_consider_side_m" value="$(arg obstacle_consider_side_m)"/>
        <param name="obstacle_consider_back_m" value="$(arg obstacle_consider_back_m)"/>
        <param name="obstacle_ignore_traj_steps" value="$(arg obstacle_ignore_traj_steps)"/>
        <param name="debug_stop_logging" value="$(arg debug_stop_logging)"/>
        <param name="debug_dwa_stats" value="$(arg debug_dwa_stats)"/>
        <param name="stop_log_period_s" value="$(arg stop_log_period_s)"/>
    </node>

</launch>
