<launch>
  <arg name="output_prefix" default="$(env HOME)/monitoring_full"/>
  <arg name="pointcloud_topic" default="/ouster/points"/>
  <arg name="imu_topic" default="/imu/data"/>
  <arg name="camera_topic" default="/camera/color/image_raw"/>
  <arg name="split" default="false"/>
  <arg name="max_size_mb" default="4096"/>

  <arg name="record_args" default="$(eval ('--split --size=' + arg('max_size_mb') + ' ' if arg('split') == 'true' else '') +
    '-o ' + arg('output_prefix') + ' ' +
    '/tf /tf_static ' +
    arg('pointcloud_topic') + ' ' +
    arg('imu_topic') + ' ' +
    arg('camera_topic') + ' ' +
    '/lio_localizer/odometry/initialization ' +
    '/lio_localizer/odometry/optimization ' +
    '/lio_localizer/odometry/optimization_path ' +
    '/initialpose ' +
    '/move_base_simple/goal ' +
    '/astar/path ' +
    '/astar/path_node_id_list ' +
    '/planning/local_path ' +
    '/planning/avoidance_path ' +
    '/planning/active_path ' +
    '/planning/behavior_cmd ' +
    '/planning/dynamic_risk_grid ' +
    '/planning/explainability ' +
    '/perception/tracked_objects ' +
    '/cmd_vel ' +
    '/move_base/teb_cmd_vel_raw ' +
    '/rosout_agg')"/>

  <node pkg="rosbag" type="record" name="record_monitoring_full" output="screen" args="$(arg record_args)"/>
</launch>
