<launch>
    <arg name="project" default="lio_sam"/>
    <arg name="base_config_file" default="$(find lio_localizer)/config/params-robot_scout.yaml"/>
    <arg name="environment" default="indoor"/>
    <arg name="enable_drivable_area" default="true"/>
    <arg name="drivable_area_config_file" default="$(find lio_sam)/config/drivable_area_builder_localizer.yaml"/>
    <arg name="enable_drivable_area_2d_editor" default="false"/>
    <arg name="enable_global_map_2d_background" default="true"/>
    <arg name="global_map_2d_background_pcd" default="$(find lio_localizer)/map/test/GlobalMap2D.pcd"/>
    <arg name="global_map_2d_background_topic" default="/lio_localizer/localization/global_map_2d"/>
    <arg name="global_map_2d_background_z_offset_m" default="0.0"/>
    <arg name="rviz_config_file" default="$(find lio_localizer)/launch/include/config/rviz.rviz"/>
    <arg name="use_internal_initial_pose" default="false"/>
    <arg name="initial_pose_x_m" default="0.0"/>
    <arg name="initial_pose_y_m" default="0.0"/>
    <arg name="initial_pose_z_m" default="0.0"/>
    <arg name="initial_pose_roll_deg" default="0.0"/>
    <arg name="initial_pose_pitch_deg" default="0.0"/>
    <arg name="initial_pose_yaw_deg" default="160.6"/>
    
    <!-- Parameters -->
    <rosparam file="$(arg base_config_file)" command="load" />
    <param name="lio_localizer/cfg_use_initial_pose_setup" value="$(arg use_internal_initial_pose)"/>
    <rosparam param="lio_localizer/cfg_initial_pose_m_deg" subst_value="true">
      [$(arg initial_pose_x_m), $(arg initial_pose_y_m), $(arg initial_pose_z_m), $(arg initial_pose_roll_deg), $(arg initial_pose_pitch_deg), $(arg initial_pose_yaw_deg)]
    </rosparam>
    <group unless="$(eval str(arg('environment')).lower() == 'outdoor')">
      <rosparam file="$(find lio_localizer)/config/params-env-indoor.yaml" command="load" />
    </group>
    <group if="$(eval str(arg('environment')).lower() == 'outdoor')">
      <rosparam file="$(find lio_localizer)/config/params-env-outdoor.yaml" command="load" />
    </group>

    <!-- Nodes -->
    <node pkg="lio_localizer" type="lio_localizer_imuPreintegration"   name="lio_localizer_imuPreintegration"    output="screen" 	 respawn="true"/>
    <node pkg="lio_localizer" type="lio_localizer_imageProjection"     name="lio_localizer_imageProjection"      output="screen"     respawn="true"/>
    <node pkg="lio_localizer" type="lio_localizer_featureExtraction"   name="lio_localizer_featureExtraction"    output="screen"     respawn="true"/>
    <node pkg="lio_localizer" type="lio_localizer_mapLocalization"     name="lio_localizer_mapLocalization"      output="screen"     respawn="true"/>

    <!-- Drivable area builder for post-mapping edit on localizer stage -->
    <include file="$(find lio_sam)/launch/include/module_drivable_area.launch">
      <arg name="enable" value="$(arg enable_drivable_area)"/>
      <arg name="config_file" value="$(arg drivable_area_config_file)"/>
    </include>

    <!-- Optional OpenCV 2D editor window (independent from RViz) -->
    <include file="$(find lio_sam)/launch/include/module_drivable_area_2d_editor.launch">
      <arg name="enable" value="$(arg enable_drivable_area_2d_editor)"/>
      <arg name="odom_topic" value="/lio_localizer/odometry/optimization"/>
    </include>

    <node if="$(arg enable_global_map_2d_background)"
          pkg="lio_sam" type="global_map_2d_publisher.py"
          name="lio_localizer_global_map_2d_publisher" output="screen" respawn="false">
      <param name="pcd_path" value="$(arg global_map_2d_background_pcd)"/>
      <param name="topic" value="$(arg global_map_2d_background_topic)"/>
      <param name="frame_id" value="map"/>
      <param name="z_offset" value="$(arg global_map_2d_background_z_offset_m)"/>
      <param name="reload_period_s" value="2.0"/>
    </node>

    <!-- Robot model for RViz -->
    <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" />
    
    <!--- Run Rviz-->
    <include file="$(find lio_localizer)/launch/include/module_rviz.launch">
      <arg name="config_file" value="$(arg rviz_config_file)"/>
    </include>

</launch>
