<launch>
    <arg name="project" default="lio_sam"/>
    <arg name="base_config_file" default="$(find lio_localizer)/config/params-robot_scout.yaml"/>
    <arg name="environment" default="indoor"/>
    <arg name="outdoor_gps_topic" default="/smc_2000/fix"/>
    <arg name="enable_drivable_area" default="true"/>
    <arg name="drivable_area_config_file" default="$(find lio_sam)/config/drivable_area_builder_localizer.yaml"/>
    <arg name="enable_drivable_area_2d_editor" default="false"/>
    <arg name="rviz_config_file" default="$(find lio_localizer)/launch/include/config/rviz.rviz"/>
    
    <!-- Parameters -->
    <rosparam file="$(arg base_config_file)" command="load" />
    <group unless="$(eval str(arg('environment')).lower() == 'outdoor')">
      <rosparam file="$(find lio_localizer)/config/params-env-indoor.yaml" command="load" />
    </group>
    <group if="$(eval str(arg('environment')).lower() == 'outdoor')">
      <rosparam file="$(find lio_localizer)/config/params-env-outdoor.yaml" command="load" />
      <param name="lio_localizer/gpsTopic" value="$(arg outdoor_gps_topic)" />
    </group>

    <!-- Nodes -->
    <node pkg="lio_localizer" type="lio_localizer_imuPreintegration"   name="lio_localizer_imuPreintegration"    output="screen" 	 respawn="true"/>
    <node pkg="lio_localizer" type="lio_localizer_imageProjection"     name="lio_localizer_imageProjection"      output="screen"     respawn="true"/>
    <node pkg="lio_localizer" type="lio_localizer_featureExtraction"   name="lio_localizer_featureExtraction"    output="screen"     respawn="true"/>
    <node pkg="lio_localizer" type="lio_localizer_mapLocalization"     name="lio_localizer_mapLocalization"      output="screen"     respawn="true"/>

    <!-- Drivable area builder for post-mapping edit on localizer stage -->
    <include file="$(find lio_sam)/launch/include/module_drivable_area.launch">
      <arg name="enable" value="$(arg enable_drivable_area)"/>
      <arg name="config_file" value="$(arg drivable_area_config_file)"/>
    </include>

    <!-- Optional OpenCV 2D editor window (independent from RViz) -->
    <include file="$(find lio_sam)/launch/include/module_drivable_area_2d_editor.launch">
      <arg name="enable" value="$(arg enable_drivable_area_2d_editor)"/>
      <arg name="odom_topic" value="/lio_localizer/odometry/optimization"/>
    </include>

    <!-- Robot model for RViz -->
    <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" />
    
    <!--- Run Rviz-->
    <include file="$(find lio_localizer)/launch/include/module_rviz.launch">
      <arg name="config_file" value="$(arg rviz_config_file)"/>
    </include>

</launch>
