<launch>
  <arg name="use_lio_sam" default="false"/>
  <arg name="enable_localizer_drivable_area" default="true"/>
  <arg name="enable_localizer_drivable_area_2d_editor" default="false"/>
  <arg name="enable_lio_sam_drivable_area_2d_editor" default="false"/>
  <arg name="pose_topic" default="$(eval '/lio_sam/mapping/odometry' if arg('use_lio_sam') == 'true' else 'lio_localizer/odometry/optimization')"/>
  <arg name="pointcloud_topic" default="/ouster/points"/>
  <arg name="use_drivable_grid" default="true"/>
  <arg name="drivable_grid_topic" default="/lio_sam/drivable_area/grid"/>
  <arg name="grid_unknown_is_occupied" default="true"/>
  <arg name="enable_cloud_tracker" default="true"/>
  <arg name="enable_dynamic_risk_manager" default="true"/>
  <arg name="enable_local_replanner" default="true"/>
  <arg name="use_dynamic_risk_grid" default="true"/>
  <arg name="tracked_objects_topic" default="/perception/tracked_objects"/>
  <arg name="behavior_cmd_topic" default="/planning/behavior_cmd"/>
  <arg name="local_path_topic" default="/planning/local_path"/>
  <arg name="avoidance_path_topic" default="/planning/avoidance_path"/>
  <arg name="active_path_topic" default="/planning/active_path"/>
  <arg name="use_local_path_fallback" default="false"/>
  <arg name="path_history_topic" default="/planning/path_history"/>
  <arg name="dynamic_risk_grid_topic" default="/planning/dynamic_risk_grid"/>
  <arg name="use_free_area_goal" default="false"/>
  <arg name="free_area_goal_topic" default="/move_base_simple/goal"/>
  <arg name="freeze_path_on_first_plan" default="true"/>
  <arg name="smooth_path_line_of_sight" default="true"/>
  <arg name="smooth_avoidance_line_of_sight" default="true"/>
  <arg name="max_los_segment_m" default="1.0"/>
  <arg name="published_path_spacing_m" default="0.25"/>
  <arg name="path_history_max_paths" default="12"/>
  <arg name="local_replan_hz" default="3.0"/>
  <arg name="local_replan_lookahead_m" default="4.0"/>
  <arg name="allow_best_effort_local_path" default="true"/>
  <arg name="best_effort_max_goal_gap_m" default="0.60"/>
  <arg name="enable_avoidance_path" default="true"/>
  <arg name="enable_graph_planner" default="true"/>
  <arg name="enable_robot_send" default="true"/>
  <arg name="enable_wave_cmd_bridge" default="true"/>
  <arg name="wave_port_name" default=""/>
  <arg name="wave_baud_rate" default="19200"/>
  <arg name="wave_linear_scale" default="1.0"/>
  <arg name="wave_angular_scale" default="1.0"/>
  <arg name="local_planner_mode" default="custom"/>
  <arg name="robot_base_frame" default="base_link"/>
  <arg name="cmd_vel_topic" default="/cmd_vel"/>
  <arg name="teb_publish_astar_via_points" default="true"/>
  <arg name="teb_use_pointcloud_obstacles" default="true"/>
  <arg name="teb_enable_emergency_stop" default="true"/>
  <arg name="teb_enable_obstacle_slowdown" default="true"/>
  <arg name="teb_obstacle_cloud_timeout_s" default="0.6"/>
  <arg name="teb_emergency_stop_front_margin" default="0.35"/>
  <arg name="teb_emergency_stop_side_margin" default="0.10"/>
  <arg name="teb_slowdown_front_margin" default="0.80"/>
  <arg name="teb_slowdown_side_margin" default="0.20"/>
  <arg name="debug_stop_logging" default="true"/>
  <arg name="debug_dwa_stats" default="true"/>
  <arg name="stop_log_period_s" default="1.0"/>
  <arg name="use_pointcloud_obstacle_cost" default="false"/>
  <arg name="obstacle_collision_radius" default="0.0"/>
  <arg name="robot_width_m" default="0.55"/>
  <arg name="robot_length_m" default="0.60"/>
  <arg name="path_blocking_radius_m" default="0.30"/>
  <arg name="footprint_padding_m" default="0.0"/>
  <arg name="path_tracking_only" default="true"/>
  <arg name="path_tracking_speed_cap" default="0.25"/>
  <arg name="path_tracking_steer_filter_gain" default="0.35"/>
  <arg name="lookahead_distance" default="0.80"/>
  <arg name="snap_lat_err" default="0.20"/>
  <arg name="snap_target_ahead_m" default="0.45"/>
  <arg name="tracking_path_smoothing_passes" default="2"/>
  <arg name="path_tracking_yaw_rate_max_deg" default="55.0"/>
  <arg name="path_tracking_in_place_yaw_rate_max_deg" default="45.0"/>
  <arg name="path_tracking_yaw_accel_max_deg" default="180.0"/>
  <arg name="path_tracking_slowdown_yaw_deg" default="40.0"/>
  <arg name="path_tracking_stop_yaw_deg" default="85.0"/>
  <arg name="path_tracking_cte_gain" default="1.6"/>
  <arg name="path_tracking_cte_soft_mps" default="0.25"/>
  <arg name="path_tracking_cte_yaw_cap_deg" default="35.0"/>
  <arg name="rotate_only_deg" default="110.0"/>
  <arg name="rotate_exit_deg" default="40.0"/>
  <arg name="rotate_reentry_cooldown_s" default="4.0"/>
  <arg name="near_goal_no_rotate_m" default="1.5"/>
  <arg name="avoidance_hard_stop_distance" default="0.20"/>
  <arg name="use_pointcloud_static_blocking" default="true"/>
  <arg name="pointcloud_static_block_margin_m" default="0.05"/>
  <arg name="pointcloud_cluster_resolution_m" default="0.15"/>
  <arg name="pointcloud_min_cluster_points" default="4"/>
  <arg name="use_pointcloud_avoidance_trigger" default="false"/>
  <arg name="avoidance_trigger_margin_m" default="0.12"/>
  <arg name="avoidance_trigger_ahead_m" default="4.0"/>
  <arg name="risk_block_confirm_cells" default="2"/>
  <arg name="avoidance_hold_s" default="1.5"/>
  <arg name="avoidance_clear_confirm_cycles" default="6"/>
  <arg name="avoidance_branch_backtrack_cells" default="2"/>
  <arg name="avoidance_rejoin_min_distance_m" default="1.0"/>
  <arg name="blocked_stop_before_avoidance_s" default="3.0"/>
  <arg name="debug_avoidance_logging" default="true"/>
  <arg name="debug_avoidance_log_period_s" default="1.0"/>
  <arg name="dynamic_speed_thresh_mps" default="0.50"/>
  <arg name="prediction_horizon_s" default="1.5"/>
  <arg name="prediction_step_s" default="0.2"/>
  <arg name="prediction_inflate_m" default="0.35"/>
  <arg name="front_lateral_stop_m" default="0.65"/>
  <arg name="front_lateral_caution_m" default="0.85"/>
  <arg name="vehicle_stop_ttc_s" default="1.1"/>
  <arg name="pedestrian_stop_ttc_s" default="2.0"/>
  <arg name="caution_ttc_s" default="2.5"/>
  <arg name="behavior_stop_on_count" default="4"/>
  <arg name="behavior_stop_off_count" default="4"/>
  <arg name="behavior_stop_hold_s" default="0.25"/>
  <arg name="cloud_tracker_max_assoc_dist_m" default="1.0"/>
  <arg name="cloud_tracker_vel_alpha" default="0.25"/>
  <arg name="cloud_tracker_static_speed_thresh_mps" default="0.45"/>
  <arg name="cloud_tracker_dynamic_min_age" default="8"/>
  <arg name="cloud_tracker_position_jitter_m" default="0.22"/>
  <arg name="include_static_objects_in_behavior" default="false"/>
  <arg name="include_static_objects_in_risk_grid" default="false"/>
  <arg name="debug_dynamic_risk_logging" default="true"/>
  <arg name="debug_dynamic_risk_log_period_s" default="1.0"/>
  <arg name="emergency_stop_distance" default="0.35"/>
  <arg name="emergency_bin_size_m" default="0.10"/>
  <arg name="emergency_min_close_points" default="4"/>
  <arg name="emergency_passable_width_m" default="0.62"/>
  <arg name="block_on_count" default="4"/>
  <arg name="block_off_count" default="4"/>
  <arg name="obstacle_consider_side_m" default="0.80"/>
  <arg name="obstacle_consider_back_m" default="-0.15"/>
  <arg name="obstacle_ignore_traj_steps" default="3"/>
  <arg name="use_auto_osm" default="false"/>
  <arg name="default_osm_file" default="$(find astar_map)/map/test_trajectory.osm"/>
  <arg name="auto_osm_file" default="$(find astar_map)/map/auto_trajectory.osm"/>

  <group if="$(arg use_lio_sam)">
    <include file="$(find lio_sam)/launch/run-robot.launch">
      <arg name="enable_drivable_area" value="true"/>
      <arg name="enable_drivable_area_2d_editor" value="$(arg enable_lio_sam_drivable_area_2d_editor)"/>
    </include>
  </group>
  <group unless="$(arg use_lio_sam)">
    <include file="$(find lio_localizer)/launch/run-robot.launch">
      <arg name="enable_drivable_area" value="$(arg enable_localizer_drivable_area)"/>
      <arg name="enable_drivable_area_2d_editor" value="$(arg enable_localizer_drivable_area_2d_editor)"/>
      <arg name="rviz_config_file" value="$(find lio_localizer)/launch/include/config/rviz_with_local_planner.rviz"/>
    </include>
  </group>

  <node if="$(arg enable_robot_send)" pkg="wave" type="robot_send.py" name="robot_send" output="screen" respawn="false"/>
  <node if="$(arg enable_wave_cmd_bridge)" pkg="wave" type="wave_topic.py" name="wave_topic" output="screen" respawn="false">
    <param name="port_name" value="$(arg wave_port_name)"/>
    <param name="baud_rate" value="$(arg wave_baud_rate)"/>
    <param name="linear_scale" value="$(arg wave_linear_scale)"/>
    <param name="angular_scale" value="$(arg wave_angular_scale)"/>
  </node>

  <group if="$(arg enable_graph_planner)">
    <group if="$(arg use_auto_osm)">
      <include file="$(find astar_map)/launch/astar_map.launch">
        <arg name="pose_topic" value="$(arg pose_topic)"/>
        <arg name="osm_file" value="$(arg auto_osm_file)"/>
        <arg name="drivable_grid_topic" value="$(arg drivable_grid_topic)"/>
      </include>
    </group>
    <group unless="$(arg use_auto_osm)">
      <include file="$(find astar_map)/launch/astar_map.launch">
        <arg name="pose_topic" value="$(arg pose_topic)"/>
        <arg name="osm_file" value="$(arg default_osm_file)"/>
        <arg name="drivable_grid_topic" value="$(arg drivable_grid_topic)"/>
      </include>
    </group>
  </group>

  <group if="$(eval arg('local_planner_mode') == 'custom')">
    <include file="$(find dynamic_window_approach)/launch/dynamic_window_approach.launch">
      <arg name="pose_topic" value="$(arg pose_topic)"/>
      <arg name="pointcloud_topic" value="$(arg pointcloud_topic)"/>
      <arg name="use_drivable_grid" value="$(arg use_drivable_grid)"/>
      <arg name="drivable_grid_topic" value="$(arg drivable_grid_topic)"/>
      <arg name="grid_unknown_is_occupied" value="$(arg grid_unknown_is_occupied)"/>
      <arg name="enable_cloud_tracker" value="$(arg enable_cloud_tracker)"/>
      <arg name="enable_dynamic_risk_manager" value="$(arg enable_dynamic_risk_manager)"/>
      <arg name="enable_local_replanner" value="$(arg enable_local_replanner)"/>
      <arg name="use_dynamic_risk_grid" value="$(arg use_dynamic_risk_grid)"/>
      <arg name="tracked_objects_topic" value="$(arg tracked_objects_topic)"/>
      <arg name="behavior_cmd_topic" value="$(arg behavior_cmd_topic)"/>
      <arg name="local_path_topic" value="$(arg local_path_topic)"/>
      <arg name="avoidance_path_topic" value="$(arg avoidance_path_topic)"/>
      <arg name="active_path_topic" value="$(arg active_path_topic)"/>
      <arg name="use_local_path_fallback" value="$(arg use_local_path_fallback)"/>
      <arg name="path_history_topic" value="$(arg path_history_topic)"/>
      <arg name="dynamic_risk_grid_topic" value="$(arg dynamic_risk_grid_topic)"/>
      <arg name="robot_width_m" value="$(arg robot_width_m)"/>
      <arg name="robot_length_m" value="$(arg robot_length_m)"/>
      <arg name="path_blocking_radius_m" value="$(arg path_blocking_radius_m)"/>
      <arg name="footprint_padding_m" value="$(arg footprint_padding_m)"/>
      <arg name="path_tracking_only" value="$(arg path_tracking_only)"/>
      <arg name="path_tracking_speed_cap" value="$(arg path_tracking_speed_cap)"/>
      <arg name="path_tracking_steer_filter_gain" value="$(arg path_tracking_steer_filter_gain)"/>
      <arg name="lookahead_distance" value="$(arg lookahead_distance)"/>
      <arg name="snap_lat_err" value="$(arg snap_lat_err)"/>
      <arg name="snap_target_ahead_m" value="$(arg snap_target_ahead_m)"/>
      <arg name="tracking_path_smoothing_passes" value="$(arg tracking_path_smoothing_passes)"/>
      <arg name="path_tracking_yaw_rate_max_deg" value="$(arg path_tracking_yaw_rate_max_deg)"/>
      <arg name="path_tracking_in_place_yaw_rate_max_deg" value="$(arg path_tracking_in_place_yaw_rate_max_deg)"/>
      <arg name="path_tracking_yaw_accel_max_deg" value="$(arg path_tracking_yaw_accel_max_deg)"/>
      <arg name="path_tracking_slowdown_yaw_deg" value="$(arg path_tracking_slowdown_yaw_deg)"/>
      <arg name="path_tracking_stop_yaw_deg" value="$(arg path_tracking_stop_yaw_deg)"/>
      <arg name="path_tracking_cte_gain" value="$(arg path_tracking_cte_gain)"/>
      <arg name="path_tracking_cte_soft_mps" value="$(arg path_tracking_cte_soft_mps)"/>
      <arg name="path_tracking_cte_yaw_cap_deg" value="$(arg path_tracking_cte_yaw_cap_deg)"/>
      <arg name="rotate_only_deg" value="$(arg rotate_only_deg)"/>
      <arg name="rotate_exit_deg" value="$(arg rotate_exit_deg)"/>
      <arg name="rotate_reentry_cooldown_s" value="$(arg rotate_reentry_cooldown_s)"/>
      <arg name="near_goal_no_rotate_m" value="$(arg near_goal_no_rotate_m)"/>
      <arg name="avoidance_hard_stop_distance" value="$(arg avoidance_hard_stop_distance)"/>
      <arg name="use_pointcloud_static_blocking" value="$(arg use_pointcloud_static_blocking)"/>
      <arg name="pointcloud_static_block_margin_m" value="$(arg pointcloud_static_block_margin_m)"/>
      <arg name="pointcloud_cluster_resolution_m" value="$(arg pointcloud_cluster_resolution_m)"/>
      <arg name="pointcloud_min_cluster_points" value="$(arg pointcloud_min_cluster_points)"/>
      <arg name="use_pointcloud_avoidance_trigger" value="$(arg use_pointcloud_avoidance_trigger)"/>
      <arg name="avoidance_trigger_margin_m" value="$(arg avoidance_trigger_margin_m)"/>
      <arg name="avoidance_trigger_ahead_m" value="$(arg avoidance_trigger_ahead_m)"/>
      <arg name="risk_block_confirm_cells" value="$(arg risk_block_confirm_cells)"/>
      <arg name="avoidance_hold_s" value="$(arg avoidance_hold_s)"/>
      <arg name="avoidance_clear_confirm_cycles" value="$(arg avoidance_clear_confirm_cycles)"/>
      <arg name="avoidance_branch_backtrack_cells" value="$(arg avoidance_branch_backtrack_cells)"/>
      <arg name="avoidance_rejoin_min_distance_m" value="$(arg avoidance_rejoin_min_distance_m)"/>
      <arg name="blocked_stop_before_avoidance_s" value="$(arg blocked_stop_before_avoidance_s)"/>
      <arg name="debug_avoidance_logging" value="$(arg debug_avoidance_logging)"/>
      <arg name="debug_avoidance_log_period_s" value="$(arg debug_avoidance_log_period_s)"/>
      <arg name="dynamic_speed_thresh_mps" value="$(arg dynamic_speed_thresh_mps)"/>
      <arg name="prediction_horizon_s" value="$(arg prediction_horizon_s)"/>
      <arg name="prediction_step_s" value="$(arg prediction_step_s)"/>
      <arg name="prediction_inflate_m" value="$(arg prediction_inflate_m)"/>
      <arg name="front_lateral_stop_m" value="$(arg front_lateral_stop_m)"/>
      <arg name="front_lateral_caution_m" value="$(arg front_lateral_caution_m)"/>
      <arg name="vehicle_stop_ttc_s" value="$(arg vehicle_stop_ttc_s)"/>
      <arg name="pedestrian_stop_ttc_s" value="$(arg pedestrian_stop_ttc_s)"/>
      <arg name="caution_ttc_s" value="$(arg caution_ttc_s)"/>
      <arg name="behavior_stop_on_count" value="$(arg behavior_stop_on_count)"/>
      <arg name="behavior_stop_off_count" value="$(arg behavior_stop_off_count)"/>
      <arg name="behavior_stop_hold_s" value="$(arg behavior_stop_hold_s)"/>
      <arg name="cloud_tracker_max_assoc_dist_m" value="$(arg cloud_tracker_max_assoc_dist_m)"/>
      <arg name="cloud_tracker_vel_alpha" value="$(arg cloud_tracker_vel_alpha)"/>
      <arg name="cloud_tracker_static_speed_thresh_mps" value="$(arg cloud_tracker_static_speed_thresh_mps)"/>
      <arg name="cloud_tracker_dynamic_min_age" value="$(arg cloud_tracker_dynamic_min_age)"/>
      <arg name="cloud_tracker_position_jitter_m" value="$(arg cloud_tracker_position_jitter_m)"/>
      <arg name="include_static_objects_in_behavior" value="$(arg include_static_objects_in_behavior)"/>
      <arg name="include_static_objects_in_risk_grid" value="$(arg include_static_objects_in_risk_grid)"/>
      <arg name="debug_dynamic_risk_logging" value="$(arg debug_dynamic_risk_logging)"/>
      <arg name="debug_dynamic_risk_log_period_s" value="$(arg debug_dynamic_risk_log_period_s)"/>
      <arg name="emergency_stop_distance" value="$(arg emergency_stop_distance)"/>
      <arg name="emergency_bin_size_m" value="$(arg emergency_bin_size_m)"/>
      <arg name="emergency_min_close_points" value="$(arg emergency_min_close_points)"/>
      <arg name="emergency_passable_width_m" value="$(arg emergency_passable_width_m)"/>
      <arg name="block_on_count" value="$(arg block_on_count)"/>
      <arg name="block_off_count" value="$(arg block_off_count)"/>
      <arg name="use_direct_goal" value="$(arg use_free_area_goal)"/>
      <arg name="direct_goal_topic" value="$(arg free_area_goal_topic)"/>
      <arg name="freeze_path_on_first_plan" value="$(arg freeze_path_on_first_plan)"/>
      <arg name="smooth_path_line_of_sight" value="$(arg smooth_path_line_of_sight)"/>
      <arg name="smooth_avoidance_line_of_sight" value="$(arg smooth_avoidance_line_of_sight)"/>
      <arg name="max_los_segment_m" value="$(arg max_los_segment_m)"/>
      <arg name="published_path_spacing_m" value="$(arg published_path_spacing_m)"/>
      <arg name="path_history_max_paths" value="$(arg path_history_max_paths)"/>
      <arg name="replan_hz" value="$(arg local_replan_hz)"/>
      <arg name="lookahead_m" value="$(arg local_replan_lookahead_m)"/>
      <arg name="allow_best_effort_path" value="$(arg allow_best_effort_local_path)"/>
      <arg name="best_effort_max_goal_gap_m" value="$(arg best_effort_max_goal_gap_m)"/>
      <arg name="enable_avoidance_path" value="$(arg enable_avoidance_path)"/>
      <arg name="debug_stop_logging" value="$(arg debug_stop_logging)"/>
      <arg name="debug_dwa_stats" value="$(arg debug_dwa_stats)"/>
      <arg name="stop_log_period_s" value="$(arg stop_log_period_s)"/>
      <arg name="use_pointcloud_obstacle_cost" value="$(arg use_pointcloud_obstacle_cost)"/>
      <arg name="obstacle_collision_radius" value="$(arg obstacle_collision_radius)"/>
      <arg name="obstacle_consider_side_m" value="$(arg obstacle_consider_side_m)"/>
      <arg name="obstacle_consider_back_m" value="$(arg obstacle_consider_back_m)"/>
      <arg name="obstacle_ignore_traj_steps" value="$(arg obstacle_ignore_traj_steps)"/>
    </include>
  </group>

  <group if="$(eval arg('local_planner_mode') == 'teb')">
    <include file="$(find dynamic_window_approach)/launch/teb_trial.launch">
      <arg name="pose_topic" value="$(arg pose_topic)"/>
      <arg name="pointcloud_topic" value="$(arg pointcloud_topic)"/>
      <arg name="drivable_grid_topic" value="$(arg drivable_grid_topic)"/>
      <arg name="global_path_topic" value="/astar/path"/>
      <arg name="local_path_topic" value="$(arg local_path_topic)"/>
      <arg name="avoidance_path_topic" value="$(arg avoidance_path_topic)"/>
      <arg name="active_path_topic" value="$(arg active_path_topic)"/>
      <arg name="path_history_topic" value="$(arg path_history_topic)"/>
      <arg name="travel_history_topic" value="/planning/travel_history"/>
      <arg name="enable_local_replanner" value="$(arg enable_local_replanner)"/>
      <arg name="dynamic_risk_grid_topic" value="$(arg dynamic_risk_grid_topic)"/>
      <arg name="pointcloud_static_block_margin_m" value="$(arg pointcloud_static_block_margin_m)"/>
      <arg name="risk_block_confirm_cells" value="$(arg risk_block_confirm_cells)"/>
      <arg name="avoidance_hold_s" value="$(arg avoidance_hold_s)"/>
      <arg name="avoidance_clear_confirm_cycles" value="$(arg avoidance_clear_confirm_cycles)"/>
      <arg name="avoidance_branch_backtrack_cells" value="$(arg avoidance_branch_backtrack_cells)"/>
      <arg name="avoidance_rejoin_min_distance_m" value="$(arg avoidance_rejoin_min_distance_m)"/>
      <arg name="debug_avoidance_logging" value="$(arg debug_avoidance_logging)"/>
      <arg name="debug_avoidance_log_period_s" value="$(arg debug_avoidance_log_period_s)"/>
      <arg name="robot_base_frame" value="$(arg robot_base_frame)"/>
      <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
      <arg name="robot_width_m" value="$(arg robot_width_m)"/>
      <arg name="robot_length_m" value="$(arg robot_length_m)"/>
      <arg name="footprint_padding_m" value="$(arg footprint_padding_m)"/>
      <arg name="publish_astar_via_points" value="$(arg teb_publish_astar_via_points)"/>
      <arg name="use_pointcloud_obstacles" value="$(arg teb_use_pointcloud_obstacles)"/>
      <arg name="enable_emergency_stop" value="$(arg teb_enable_emergency_stop)"/>
      <arg name="enable_obstacle_slowdown" value="$(arg teb_enable_obstacle_slowdown)"/>
      <arg name="obstacle_cloud_timeout_s" value="$(arg teb_obstacle_cloud_timeout_s)"/>
      <arg name="emergency_stop_front_margin" value="$(arg teb_emergency_stop_front_margin)"/>
      <arg name="emergency_stop_side_margin" value="$(arg teb_emergency_stop_side_margin)"/>
      <arg name="slowdown_front_margin" value="$(arg teb_slowdown_front_margin)"/>
      <arg name="slowdown_side_margin" value="$(arg teb_slowdown_side_margin)"/>
    </include>
  </group>

</launch>
