<launch>
  <arg name="use_lio_sam" default="false"/>
  <arg name="enable_localizer_drivable_area" default="true"/>
  <arg name="enable_localizer_drivable_area_2d_editor" default="false"/>
  <arg name="enable_lio_sam_drivable_area_2d_editor" default="false"/>
  <arg name="pose_topic" default="$(eval '/lio_sam/mapping/odometry' if arg('use_lio_sam') == 'true' else 'lio_localizer/odometry/optimization')"/>
  <arg name="pointcloud_topic" default="/ouster/points"/>
  <arg name="use_drivable_grid" default="true"/>
  <arg name="drivable_grid_topic" default="/lio_sam/drivable_area/grid"/>
  <arg name="grid_unknown_is_occupied" default="true"/>
  <arg name="enable_cloud_tracker" default="true"/>
  <arg name="enable_dynamic_risk_manager" default="true"/>
  <arg name="enable_local_replanner" default="true"/>
  <arg name="use_dynamic_risk_grid" default="true"/>
  <arg name="tracked_objects_topic" default="/perception/tracked_objects"/>
  <arg name="behavior_cmd_topic" default="/planning/behavior_cmd"/>
  <arg name="local_path_topic" default="/planning/local_path"/>
  <arg name="dynamic_risk_grid_topic" default="/planning/dynamic_risk_grid"/>
  <arg name="use_free_area_goal" default="true"/>
  <arg name="free_area_goal_topic" default="/move_base_simple/goal"/>
  <arg name="enable_graph_planner" default="false"/>
  <arg name="debug_stop_logging" default="true"/>
  <arg name="debug_dwa_stats" default="true"/>
  <arg name="stop_log_period_s" default="1.0"/>
  <arg name="use_auto_osm" default="false"/>
  <arg name="default_osm_file" default="$(find astar_map)/map/test_trajectory.osm"/>
  <arg name="auto_osm_file" default="$(find astar_map)/map/auto_trajectory.osm"/>

  <group if="$(arg use_lio_sam)">
    <include file="$(find lio_sam)/launch/run-robot.launch">
      <arg name="enable_drivable_area" value="true"/>
      <arg name="enable_drivable_area_2d_editor" value="$(arg enable_lio_sam_drivable_area_2d_editor)"/>
    </include>
  </group>
  <group unless="$(arg use_lio_sam)">
    <include file="$(find lio_localizer)/launch/run-robot.launch">
      <arg name="enable_drivable_area" value="$(arg enable_localizer_drivable_area)"/>
      <arg name="enable_drivable_area_2d_editor" value="$(arg enable_localizer_drivable_area_2d_editor)"/>
    </include>
  </group>

  <group if="$(eval arg('enable_graph_planner') == 'true' and arg('use_auto_osm') == 'true')">
    <include file="$(find astar_map)/launch/astar_map.launch">
      <arg name="pose_topic" value="$(arg pose_topic)"/>
      <arg name="osm_file" value="$(arg auto_osm_file)"/>
    </include>
  </group>
  <group if="$(eval arg('enable_graph_planner') == 'true' and arg('use_auto_osm') != 'true')">
    <include file="$(find astar_map)/launch/astar_map.launch">
      <arg name="pose_topic" value="$(arg pose_topic)"/>
      <arg name="osm_file" value="$(arg default_osm_file)"/>
    </include>
  </group>

  <include file="$(find dynamic_window_approach)/launch/dynamic_window_approach.launch">
    <arg name="pose_topic" value="$(arg pose_topic)"/>
    <arg name="pointcloud_topic" value="$(arg pointcloud_topic)"/>
    <arg name="use_drivable_grid" value="$(arg use_drivable_grid)"/>
    <arg name="drivable_grid_topic" value="$(arg drivable_grid_topic)"/>
    <arg name="grid_unknown_is_occupied" value="$(arg grid_unknown_is_occupied)"/>
    <arg name="enable_cloud_tracker" value="$(arg enable_cloud_tracker)"/>
    <arg name="enable_dynamic_risk_manager" value="$(arg enable_dynamic_risk_manager)"/>
    <arg name="enable_local_replanner" value="$(arg enable_local_replanner)"/>
    <arg name="use_dynamic_risk_grid" value="$(arg use_dynamic_risk_grid)"/>
    <arg name="tracked_objects_topic" value="$(arg tracked_objects_topic)"/>
    <arg name="behavior_cmd_topic" value="$(arg behavior_cmd_topic)"/>
    <arg name="local_path_topic" value="$(arg local_path_topic)"/>
    <arg name="dynamic_risk_grid_topic" value="$(arg dynamic_risk_grid_topic)"/>
    <arg name="use_direct_goal" value="$(arg use_free_area_goal)"/>
    <arg name="direct_goal_topic" value="$(arg free_area_goal_topic)"/>
    <arg name="debug_stop_logging" value="$(arg debug_stop_logging)"/>
    <arg name="debug_dwa_stats" value="$(arg debug_dwa_stats)"/>
    <arg name="stop_log_period_s" value="$(arg stop_log_period_s)"/>
  </include>

</launch>
