<!-- test.launch -->
<launch>
  <!-- OSM 파일 정의 -->
  <!-- <arg name="osm_file" default="$(find astar_map)/map/trajectory_rotate.osm"/> -->
  <!-- <arg name="osm_file" default="$(find astar_map)/map/trajectory_rotate_change.osm"/> -->
  <!-- arg name="osm_file" default="$(find astar_map)/map/campus_trajectory_copy.osm"/> -->
  <arg name="osm_file" default="$(find astar_map)/map/test_trajectory.osm"/>
  <!-- <arg name="osm_file" default="$(find astar_map)/map/test_trajectory_rotated_save.osm"/> -->
  <!-- <arg name="osm_file" default="$(find astar_map)/map/campus_trajectory_0405_fix.osm"/> -->
  <!-- <arg name="ref_file" default="$(find astar_map)/map/map_reference_coordinate_cap.csv"/> -->
  <arg name="ref_file" default="$(find astar_map)/map/map_reference_coordinate.csv"/>
  <arg name="pose_topic" default="lio_localizer/odometry/optimization"/>
  <arg name="use_drivable_grid_global" default="true"/>
  <arg name="drivable_grid_topic" default="/lio_sam/drivable_area/grid"/>
  <arg name="use_dynamic_risk_grid_global" default="false"/>
  <arg name="dynamic_risk_grid_topic" default="/planning/dynamic_risk_grid"/>
  <arg name="dynamic_risk_occupied_threshold" default="45"/>
  <arg name="use_global_obstacle_overlay" default="false"/>
  <arg name="global_obstacle_overlay_topic" default="/planning/global_obstacle_overlay"/>
  <arg name="global_obstacle_overlay_threshold" default="50"/>
  <arg name="grid_unknown_is_occupied" default="true"/>
  <arg name="grid_snap_search_radius_cells" default="30"/>
  <arg name="robot_width_m" default="0.58"/>
  <arg name="robot_length_m" default="0.612"/>
  <arg name="footprint_padding_m" default="0.0"/>
  <arg name="global_path_use_any_angle" default="true"/>
  <arg name="global_path_clearance_m" default="0.02"/>
  <arg name="global_path_clearance_model" default="circumscribed"/>
  <arg name="global_path_drivable_area_is_center_safe" default="false"/>
  <arg name="global_path_goal_tail_clearance_radius_m" default="$(eval 0.5 * float(arg('robot_width_m')) + float(arg('footprint_padding_m')) + 0.02)"/>
  <arg name="drivable_grid_graph_fallback_max_goal_gap_m" default="1.0"/>
  <arg name="enable_graph_fallback" default="false"/>
  <arg name="drivable_grid_goal_extension_max_gap_m" default="0.60"/>
  <arg name="preserve_user_goal_on_drivable_grid" default="true"/>
  <arg name="continuous_replan" default="true"/>
  <arg name="replan_min_start_shift_m" default="0.15"/>
  <arg name="replan_min_interval_s" default="0.40"/>
  <arg name="enable_map_reload" default="true"/>
  <arg name="reload_topic" default="/astar/reload_map"/>
  <arg name="publish_smoothed_path" default="true"/>
  <arg name="path_simplify_epsilon_m" default="0.20"/>
  <arg name="published_path_spacing_m" default="0.25"/>

  <!-- <arg name="server_dst_node_list" default="-101752,-101779,-101799,-101816,-101834,-101936,-101953,-102003,-102234,-102196"/> -->
  <arg name="server_dst_node_list" default=""/>

  <!-- astar_map_node.py 노드 실행 -->
  <node pkg="astar_map" type="astar_map_node.py" name="astar_map_node" output="screen">
    <param name="osm_file" value="$(arg osm_file)"/>
    <param name="ref_file" value="$(arg ref_file)"/>
    <param name="server_dst_node_list" value="$(arg server_dst_node_list)"/>
    <param name="pose_topic" value="$(arg pose_topic)"/>
    <param name="use_drivable_grid_global" value="$(arg use_drivable_grid_global)"/>
    <param name="drivable_grid_topic" value="$(arg drivable_grid_topic)"/>
    <param name="use_dynamic_risk_grid_global" value="$(arg use_dynamic_risk_grid_global)"/>
    <param name="dynamic_risk_grid_topic" value="$(arg dynamic_risk_grid_topic)"/>
    <param name="dynamic_risk_occupied_threshold" value="$(arg dynamic_risk_occupied_threshold)"/>
    <param name="use_global_obstacle_overlay" value="$(arg use_global_obstacle_overlay)"/>
    <param name="global_obstacle_overlay_topic" value="$(arg global_obstacle_overlay_topic)"/>
    <param name="global_obstacle_overlay_threshold" value="$(arg global_obstacle_overlay_threshold)"/>
    <param name="grid_unknown_is_occupied" value="$(arg grid_unknown_is_occupied)"/>
    <param name="grid_snap_search_radius_cells" value="$(arg grid_snap_search_radius_cells)"/>
    <param name="robot_width_m" value="$(arg robot_width_m)"/>
    <param name="robot_length_m" value="$(arg robot_length_m)"/>
    <param name="footprint_padding_m" value="$(arg footprint_padding_m)"/>
    <param name="global_path_use_any_angle" value="$(arg global_path_use_any_angle)"/>
    <param name="global_path_clearance_m" value="$(arg global_path_clearance_m)"/>
    <param name="global_path_clearance_model" value="$(arg global_path_clearance_model)"/>
    <param name="global_path_drivable_area_is_center_safe" value="$(arg global_path_drivable_area_is_center_safe)"/>
    <param name="global_path_goal_tail_clearance_radius_m" value="$(arg global_path_goal_tail_clearance_radius_m)"/>
    <param name="drivable_grid_graph_fallback_max_goal_gap_m" value="$(arg drivable_grid_graph_fallback_max_goal_gap_m)"/>
    <param name="enable_graph_fallback" value="$(arg enable_graph_fallback)"/>
    <param name="drivable_grid_goal_extension_max_gap_m" value="$(arg drivable_grid_goal_extension_max_gap_m)"/>
    <param name="preserve_user_goal_on_drivable_grid" value="$(arg preserve_user_goal_on_drivable_grid)"/>
    <param name="continuous_replan" value="$(arg continuous_replan)"/>
    <param name="replan_min_start_shift_m" value="$(arg replan_min_start_shift_m)"/>
    <param name="replan_min_interval_s" value="$(arg replan_min_interval_s)"/>
    <param name="enable_map_reload" value="$(arg enable_map_reload)"/>
    <param name="reload_topic" value="$(arg reload_topic)"/>
    <param name="publish_smoothed_path" value="$(arg publish_smoothed_path)"/>
    <param name="path_simplify_epsilon_m" value="$(arg path_simplify_epsilon_m)"/>
    <param name="published_path_spacing_m" value="$(arg published_path_spacing_m)"/>
    <!-- 필요한 경우 추가 파라미터 설정 -->
  </node>

  <!-- RViz 실행 -->
  <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find astar_map)/rviz/osm_config.rviz"/> -->
</launch>
