<launch>

    <arg name="project" default="lio_sam"/>
    <arg name="real_mode" default="false"/>
    <arg name="map_profile_name" default="$(eval 'outdoor' if str(arg('real_mode')).lower() == 'outdoor' else ('real' if str(arg('real_mode')).lower() == 'true' else 'test'))"/>
    <arg name="map_profile_suffix" default="$(eval '_outdoor' if str(arg('real_mode')).lower() == 'outdoor' else ('_real' if str(arg('real_mode')).lower() == 'true' else ''))"/>
    <arg name="base_config_file" default="$(find lio_sam)/config/params-robot.yaml"/>
    <arg name="environment" default="outdoor"/>
    <arg name="enable_rviz" default="true"/>
    <arg name="rviz_node_name" default="$(arg project)_rviz"/>
    <arg name="rviz_config_file" default="$(find lio_sam)/launch/include/config/rviz.rviz"/>
    <arg name="enable_robot_state_publisher" default="true"/>
    <arg name="publish_tf" default="true"/>
    <arg name="enable_map_sync" default="true"/>
    <arg name="extend_existing_map" default="false"/>
    <arg name="map_sync_source_dir" default="$(env HOME)/Downloads/test"/>
    <arg name="map_sync_destination_dir" default="$(find lio_localizer)/map/$(arg map_profile_name)"/>
    <arg name="map_extension_backup_dir" default="$(arg map_sync_destination_dir)_extension_backups"/>
    <arg name="map_extension_voxel_leaf_size" default="0.08"/>
    <arg name="map_extension_keep_existing_ref" default="true"/>
    <arg name="enable_semantic_sidewalk_pipeline" default="true"/>
    <arg name="semantic_source_bag" default=""/>
    <arg name="semantic_auto_detect_source_bag" default="true"/>
    <arg name="semantic_detect_bag_poll_period_s" default="0.5"/>
    <arg name="auto_finalize_after_bag" default="true"/>
    <arg name="auto_finalize_bag_idle_s" default="0.5"/>
    <arg name="auto_shutdown_after_bag_complete" default="true"/>
    <arg name="save_map_service_name" default="/lio_sam/save_map"/>
    <arg name="save_map_service_timeout_s" default="30.0"/>
    <arg name="semantic_lidar_frame_stride" default="1"/>
    <arg name="semantic_point_stride" default="8"/>
    <arg name="semantic_max_lidar_frames" default="100000"/>
    <arg name="map_sync_on_shutdown" default="true"/>
    <arg name="detach_full_sync_on_shutdown" default="true"/>
    <arg name="shutdown_worker_job_file" default="lio_sam_map_sync_job.json"/>
    <arg name="shutdown_worker_log_file" default="lio_sam_map_sync_worker.log"/>
    <arg name="map_sync_astar_ref_enable" default="true"/>
    <arg name="map_sync_astar_ref_source_file" default="map_reference_coordinate.csv"/>
    <arg name="map_sync_astar_ref_destination_file" default="$(find astar_map)/map/map_reference_coordinate$(arg map_profile_suffix).csv"/>
    <arg name="semantic_runtime_drivable_state_file" default="$(env HOME)/.ros/lio_sam_drivable_area_state$(arg map_profile_suffix).json"/>
    <arg name="enable_trajectory_export" default="true"/>
    <arg name="trajectory_export_path_topic" default="/lio_sam/mapping/path"/>
    <arg name="trajectory_export_path_mode" default="local"/>
    <arg name="trajectory_export_output_csv" default="$(find astar_map)/map/auto_trajectory_local$(arg map_profile_suffix).csv"/>
    <arg name="trajectory_export_output_osm" default="$(find astar_map)/map/auto_trajectory$(arg map_profile_suffix).osm"/>
    <arg name="trajectory_export_auto_write" default="false"/>
    <arg name="trajectory_export_save_on_shutdown" default="true"/>
    <arg name="trajectory_export_extend_existing" default="$(arg extend_existing_map)"/>
    <arg name="trajectory_export_extension_connect_max_distance_m" default="2.0"/>
    <arg name="trajectory_export_publish_reload" default="false"/>
    
    <!-- Parameters -->
    <rosparam file="$(arg base_config_file)" command="load" />
    <param name="lio_sam/publishTF" value="$(arg publish_tf)"/>
    <group unless="$(eval str(arg('environment')).lower() == 'outdoor')">
      <rosparam file="$(find lio_sam)/config/params-env-indoor.yaml" command="load" />
    </group>
    <group if="$(eval str(arg('environment')).lower() == 'outdoor')">
      <rosparam file="$(find lio_sam)/config/params-env-outdoor.yaml" command="load" />
    </group>

    <!--- LOAM -->
    <include file="$(find lio_sam)/launch/include/module_loam.launch" />

    <!--- Auto export LIO-SAM path to CSV/OSM (for A* map update pipeline) -->
    <include file="$(find lio_sam)/launch/include/module_trajectory_export.launch">
      <arg name="enable" value="$(arg enable_trajectory_export)"/>
      <arg name="path_topic" value="$(arg trajectory_export_path_topic)"/>
      <arg name="path_mode" value="$(arg trajectory_export_path_mode)"/>
      <arg name="output_csv" value="$(arg trajectory_export_output_csv)"/>
      <arg name="output_osm" value="$(arg trajectory_export_output_osm)"/>
      <arg name="auto_write" value="$(arg trajectory_export_auto_write)"/>
      <arg name="save_on_shutdown" value="$(arg trajectory_export_save_on_shutdown)"/>
      <arg name="extend_existing" value="$(arg trajectory_export_extend_existing)"/>
      <arg name="extension_connect_max_distance_m" value="$(arg trajectory_export_extension_connect_max_distance_m)"/>
      <arg name="publish_reload" value="$(arg trajectory_export_publish_reload)"/>
    </include>

    <!--- Sync saved LIO-SAM PCD map to lio_localizer map folder on shutdown -->
    <include file="$(find lio_sam)/launch/include/module_map_sync.launch">
      <arg name="enable" value="$(arg enable_map_sync)"/>
      <arg name="source_dir" value="$(arg map_sync_source_dir)"/>
      <arg name="destination_dir" value="$(arg map_sync_destination_dir)"/>
      <arg name="extend_existing_map" value="$(arg extend_existing_map)"/>
      <arg name="extension_backup_dir" value="$(arg map_extension_backup_dir)"/>
      <arg name="extension_voxel_leaf_size" value="$(arg map_extension_voxel_leaf_size)"/>
      <arg name="extension_keep_existing_ref" value="$(arg map_extension_keep_existing_ref)"/>
      <arg name="generate_semantic_sidewalk" value="$(arg enable_semantic_sidewalk_pipeline)"/>
      <arg name="semantic_sidewalk_output_dir" value="semantic_sidewalk"/>
      <arg name="semantic_state_output" value="semantic_sidewalk_state.json"/>
      <arg name="semantic_drivable_state_output" value="lio_sam_drivable_area_state.json"/>
      <arg name="semantic_global_drivable_state_file" value="$(arg semantic_runtime_drivable_state_file)"/>
      <arg name="semantic_source_bag" value="$(arg semantic_source_bag)"/>
      <arg name="semantic_auto_detect_source_bag" value="$(arg semantic_auto_detect_source_bag)"/>
      <arg name="semantic_detect_bag_poll_period_s" value="$(arg semantic_detect_bag_poll_period_s)"/>
      <arg name="auto_finalize_after_bag" value="$(arg auto_finalize_after_bag)"/>
      <arg name="auto_finalize_bag_idle_s" value="$(arg auto_finalize_bag_idle_s)"/>
      <arg name="auto_shutdown_after_bag_complete" value="$(arg auto_shutdown_after_bag_complete)"/>
      <arg name="save_map_service_name" value="$(arg save_map_service_name)"/>
      <arg name="save_map_service_timeout_s" value="$(arg save_map_service_timeout_s)"/>
      <arg name="semantic_lidar_frame_stride" value="$(arg semantic_lidar_frame_stride)"/>
      <arg name="semantic_point_stride" value="$(arg semantic_point_stride)"/>
      <arg name="semantic_max_lidar_frames" value="$(arg semantic_max_lidar_frames)"/>
      <arg name="sync_on_shutdown" value="$(arg map_sync_on_shutdown)"/>
      <arg name="detach_full_sync_on_shutdown" value="$(arg detach_full_sync_on_shutdown)"/>
      <arg name="shutdown_worker_job_file" value="$(arg shutdown_worker_job_file)"/>
      <arg name="shutdown_worker_log_file" value="$(arg shutdown_worker_log_file)"/>
      <arg name="sync_astar_ref" value="$(arg map_sync_astar_ref_enable)"/>
      <arg name="source_ref_file" value="$(arg map_sync_astar_ref_source_file)"/>
      <arg name="astar_ref_destination_file" value="$(arg map_sync_astar_ref_destination_file)"/>
    </include>

    <!--- Robot State TF -->
    <group if="$(arg enable_robot_state_publisher)">
      <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" />
    </group>

    <!--- Run Navsat -->
    <!-- <include file="$(find lio_sam)/launch/include/module_navsat.launch" /> -->

    <!--- Run Rviz-->
    <group if="$(arg enable_rviz)">
      <include file="$(find lio_sam)/launch/include/module_rviz.launch">
        <arg name="project" value="$(arg project)"/>
        <arg name="rviz_node_name" value="$(arg rviz_node_name)"/>
        <arg name="rviz_config_file" value="$(arg rviz_config_file)"/>
      </include>
    </group>

</launch>
